 <div ng-include="'/views/includes/toolbar.html'"></div>
 
  <md-content ng-controller="loginCtrl" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Login Form</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              
              <input type="text" name="email" ng-model="email" placeholder="email" required=""/>
              <div ng-messages="Form.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
             
              <input type="password" name="password" ng-model="pass" placeholder="password" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click="submit(Form)" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
    <!-- Angular Material Dependencies-->