<!DOCTYPE html>
<html ng-app="NodeApp">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <!-- <link rel="shortcut icon" href="/images/favicon.ico">
 -->
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

     <link rel="stylesheet" href="/css/style.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
   <!--  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
   <script src="/bower_components/angular-material-icons.min.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="/angular-app/controllers/userCtrl.js"></script>
     <script type="text/javascript" src="/angular-app/controllers/uiCtrl.js"></script>
    <script type="text/javascript" src="/angular-app/angular-app-routes.js"></script>
    <script type="text/javascript" src="/angular-app/angular-app.js"></script>

    <!--services-->
     <script type="text/javascript" src="/angular-app/services/userServices.js"></script>
     <script type="text/javascript" src="/angular-app/services/ajaxServices.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
   <!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="/stylesheets/ie9specific.css" />
<![endif]-->
 
             
    <script>
     /* 
      var $buoop = {c:2};
      function $buo_f(){
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.js";
        document.body.appendChild(e);
      };
      try {
        document.addEventListener("DOMContentLoaded", $buo_f,false)
      }
      catch(e){
        window.attachEvent("onload", $buo_f)
      } */


      
    </script> 
       
  </head>
  <body >
  <!-- <body ng-controller="mainCtrl" ng-style="bgImage"> -->


         <ng-view></ng-view>

  </body>
</html>