html,
body{
    margin-top:0;
    padding-top:0;
    height: 100%;
  /*  background: url('../images/bg.jpg') no-repeat center center fixed;*/
      background: rgb(250,250,250);
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title{
  font-size: 15px;
  padding:0 0 0 10px;
}
.userForm{
   /*background: rgb(250,250,250);*/
}


md-toolbar .fixedHeader{
  min-height: 30px;
  height: 50px
}

.toolbarHeader{
  min-height: 30px;
  height: 50px;
  
}
.toolbarHeader span{
  font-size: 15px;
}

.md-button {
  padding: 0 4px 0 4px;
  margin: 6px 8px 6px 8px;
  min-width: 80px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

md-sidenav{
  background: #fff;
  color:rgba(64, 54, 54, 0.67);
}
md-sidenav a .menu-title {
  font-weight:bold;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
    color:#ccc;
}
md-content{
  background: transparent;
}

md-sidenav, md-backdrop {
position: fixed !important;
}
.container{
  margin-top:100px;
}
.user-avatar {
  border-radius: 99%;
}
.userProfile{
  text-align:center;
  padding:15px;
  font-size: 15px;
}
.successMessage{
  font-color:#69F0AE;
  padding:5px;
}
.content-section{
  margin-top: 100px;
}
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.sample{
  border: 1px solid #ccc;
}